*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:rgb(148, 183, 148);
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#calculator{
    height: 60%;
    width: 20%;
    border: 2px solid rgb(214, 219, 221);
    background-color: rgb(49, 53, 54);
    padding-top: 5px;
    border-radius: 10px;


}
#input{
    height: 20%;
    width: 90%;
    border: none;
    background-color: transparent;
    text-align: right;
    font-size: 40px;
    margin-right: 20px;
}
.key{
    height: 45px;
    width: 45px;
    background-color: #000000;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    border: none;
    margin-bottom: 2px;
    margin-right: 8px;
    margin-top: 5px;
    box-shadow:  -0.5px -0.5px 1ch rgb(101, 101, 101);
}
 
.equal{
    background-color: orange;
    border: #585c62 solid 2px;
}
.main-key{
    padding-left: 10px;
    
}
.c-key{
    color: lightgreen;
    font-weight: 600;
}