*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   background-color:var(--bg-primary-color); 
}
:root{
    --bg-primary-color:rgb(59, 65, 71);

}
#structor{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
   
}
#main{
    overflow: hidden;
    height: 80%;
    width: 22%;
    background-color: rgb(41, 41, 42);
   border-radius: 10px;
   border: 1px solid lightblue;
}
#displa-box{
    margin-top: 30px;
    padding-top: 25px;
    padding-right: 20px;
    height: 20%;
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
    text-align:end;
    font-size: 50px;
    font-weight: 600;

}
#function{
    height: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fun{
    font-size: 15px;
    color: #a7a4a4;
}
.fun:hover{
    color: #e6e1e1;
    cursor: pointer;
    user-select: none;
}
.top-key{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top:10px;


}
.top-fun{
    background-color: #9c9e72;
    height: 100%;
    width: 22%;
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px;
    cursor: pointer;

}
.top-fun:hover{
    background-color: #adb392;
}
#btm{
    height: 57%;
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.left-key{
    height: 100%;
    width: 22%;
    display: block;
    margin-right: 5px;
    
}
#num-key{
    height: 100%;
    width: 76%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
     padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 12px;

}
.left-fun:hover{
    background-color: #adb392;
    cursor: pointer;

    
}

.left-fun{
    background-color: #9c9e72;
    height: 17%;
    width:100%;
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 5px;
    font-weight: 600;
   
}

.numbers{
     background-color: #7d8c77;
    height: 100%;
    width:98%;
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 5px;
    font-weight: 600;
    
  
}
.numbers:hover{
     background-color: #86aa78;
    cursor: pointer;


}
.equalto{
      background-color: #575eae;
    height: 40px;
    width:60px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 5px;
    margin-right: 10px;
 
    font-weight: 600;
}
.equalto:hover{
      background-color: #484e97;

}